
body{
    display: flex;
    justify-content: center;
    font-family: 'Yeseva One', cursive;
}

.shop{
    height: 600px;
    width: 450px;
    border: black solid 2px;
    margin-bottom:15px ;
    background-color: #ece9e9;
    margin-right: 15px;
    overflow-y:scroll
}

.inventory{
    height: 600px;
    width: 450px;
    border: black solid 2px;
    background-color: #eee9e9;
    margin-right: 15px;

}

.itemsCard{
    height: 80px;
    width: 97%;
    margin: 5px;
    border: black solid 2px;
    justify-content: space-around;
}

#clickCheck{
    width: 450px;
    height: 60px;
    border: black solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    background-color: lightblue;
    cursor: pointer;
}

.category{
    height: 50px;
    border-bottom: black solid 2px;
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
    align-items: center;
}

.values{
    height: 50px;
    border-bottom: black solid 2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.i{
  font-size: 25px;
    cursor: pointer;
}

input{
    height: 50px;
    margin-top: 20px;
}
img{
    height: 50px;
    width: 60px;
}

itemDiv{
    display: flex;
}


/* Modal Body */
.modal-body {
    padding: 2px 16px;
    display: flex;
    flex-direction: column;

}

/* Modal Content */
#modal-content {
    width: 450px;
    height: 600px;
    background-color: #eee9e9;
    border: black solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


